.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.login > img {
  width: 50%;
}

.login > a {
  background-color: #1ed15e;
  padding: 20px;
  border-radius: 99px;
  font-weight: 600;
  color: white;
  margin-top: 50px;
  text-decoration: none;
}
